body{
    background: rgba(247,232,195,1);
    background: -moz-linear-gradient(top, rgba(247,232,195,1) 0%, rgba(250,237,205,1) 12%, rgba(245,230,193,1) 21%, rgba(250,229,177,1) 29%, rgba(245,210,120,1) 36%, rgba(199,145,10,1) 48%, rgba(158,115,5,1) 69%, rgba(112,82,4,1) 82%, rgba(148,107,3,1) 91%, rgba(166,129,7,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,232,195,1)), color-stop(12%, rgba(250,237,205,1)), color-stop(21%, rgba(245,230,193,1)), color-stop(29%, rgba(250,229,177,1)), color-stop(36%, rgba(245,210,120,1)), color-stop(48%, rgba(199,145,10,1)), color-stop(69%, rgba(158,115,5,1)), color-stop(82%, rgba(112,82,4,1)), color-stop(91%, rgba(148,107,3,1)), color-stop(100%, rgba(166,129,7,1)));
    background: -webkit-linear-gradient(top, rgba(247,232,195,1) 0%, rgba(250,237,205,1) 12%, rgba(245,230,193,1) 21%, rgba(250,229,177,1) 29%, rgba(245,210,120,1) 36%, rgba(199,145,10,1) 48%, rgba(158,115,5,1) 69%, rgba(112,82,4,1) 82%, rgba(148,107,3,1) 91%, rgba(166,129,7,1) 100%);
    background: -o-linear-gradient(top, rgba(247,232,195,1) 0%, rgba(250,237,205,1) 12%, rgba(245,230,193,1) 21%, rgba(250,229,177,1) 29%, rgba(245,210,120,1) 36%, rgba(199,145,10,1) 48%, rgba(158,115,5,1) 69%, rgba(112,82,4,1) 82%, rgba(148,107,3,1) 91%, rgba(166,129,7,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,232,195,1) 0%, rgba(250,237,205,1) 12%, rgba(245,230,193,1) 21%, rgba(250,229,177,1) 29%, rgba(245,210,120,1) 36%, rgba(199,145,10,1) 48%, rgba(158,115,5,1) 69%, rgba(112,82,4,1) 82%, rgba(148,107,3,1) 91%, rgba(166,129,7,1) 100%);
    background: linear-gradient(to bottom, rgba(247,232,195,1) 0%, rgba(250,237,205,1) 12%, rgba(245,230,193,1) 21%, rgba(250,229,177,1) 29%, rgba(245,210,120,1) 36%, rgba(199,145,10,1) 48%, rgba(158,115,5,1) 69%, rgba(112,82,4,1) 82%, rgba(148,107,3,1) 91%, rgba(166,129,7,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e8c3', endColorstr='#a68107', GradientType=0 );
    font-family: "raleway", sans-serif;
    font-size : 16px;
    line-height: 1.6;
    color:black;
    

}
nav{
    background-color: #d8ab4e !important;
}
.cover{
    background-position: center center;
        background-size: cover;
    }
    
    a {
        color:inherit;
        text-decoration: none;
    }
    
    a:hover 
    {
         color:#00A0C6; 
         text-decoration:none; 
         cursor:pointer;  
    }

.cover .site-vh-100{
    min-height: 700px !important;
    
    
}

.site-section{
    padding: 7em 0;
}

@media screen and (max-width: 960px)
* {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
}

.site-vh-100{
    height: 100vh;
}

#section-about{
    padding: 8em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.site-section .site-primary-title{
    margin-top: 0;
    margin-bottom: 30px;
    
    
}

.image-stopper{
    padding: auto 25%;
}

@media screen and (min-width: 600px) {
    alignright {
     float: right;
     margin: 5px 0 10px 15px;
   }
 }
#section-offer{

.menu-item{
    margin-bottom: 30px;
    padding-right: 2em;
}

.btn-round{
    padding: 10%;
}
#section-contact{
    background-color: rgba(19, 15, 1, 0.877);
}
